<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LMS - Teaching Team</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header class="bg-primary text-white text-center py-4">
        <h1 class="text-center">Learning Management System - Lecturer view</h1>
    </header>
    <div class="container">
        <h2 class="mt-4">Subjects</h2>
        <p>Available subjects</p>
    </div>
    <nav class="container">
        <div class="row">
            <div class="col-md-3">
                <form action="/subject" class="text-center">
                    <button type="submit" class="btn btn-primary btn-block">Subject 1</button>
                </form>
            </div>
            <div class="col-md-3">
                <form action="/subject" class="text-center">
                    <button type="submit" class="btn btn-primary btn-block">Subject 2</button>
                </form>
            </div>
            <div class="col-md-3">
                <form action="/subject" class="text-center">
                    <button type="submit" class="btn btn-primary btn-block">Subject 3</button>
                </form>
            </div>
            <div class="col-md-3">
                <form action="/subject" class="text-center">
                    <button type="submit" class="btn btn-primary btn-block">Subject 4</button>
                </form>
            </div>
        </div>
    </nav>
    <!-- Bootstrap JS (optional) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
